
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');




.eclipseBackground{
    background-image: url('../../img/abed-ismail-_jhUrn9o8yM-unsplash.jpg');
    background-size: cover;
    background-position: center, center;
    height: 87.66vh;

}

.timer{
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
    color: rgb(243, 222, 159);
    padding-top: 66vh;

}


/*! Blanket css statements mess with several MUI components, try to be more specific -Jack
/* p{
    text-align: center;
} */