@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: 'Tilt Neon', cursive;
    color:white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display:flex;
    justify-content: space-between;
    text-decoration: 'none' 
}

.link{
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

.link:hover{
    color: gray;
}

.outerWrapper{
    background-color: black;
    padding-left: 3vw;
    padding-right: 3vw;
}

.bg-black {
    background-color: black !important;
    color:white;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

button{
    background-color: black;
    color: rgb(144, 143, 143);
    box-shadow: none;
    font-family: 'Tilt Neon', cursive;

}

.navbar-brand {
    margin-right: 25vw;
}

a.navbar-brand{
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
}

a.nav-link{
    font-family: 'Tilt Neon', cursive;
}

img{
    margin-right: 1vw;
}

.container{
    margin-left: 1vw;
    margin-right: 1vw;
}