.bg-black {
    background-color: black !important;
    /* color:white; */
    color: #61dafb;
}

h1 {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
.me-auto {
    display:flex;
    justify-content: space-between;
}

.logIn {
    display: flex;
    justify-content: right;
}