@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.bg-black {
    background-color: black !important;
    color:white;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

button{
    background-color: black;
    color: rgb(144, 143, 143);
    box-shadow: none;
    font-family: 'Tilt Neon', cursive;

}

.navbar-brand {
    margin-right: 25vw;
}

a.navbar-brand{
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
}

a.nav-link{
    font-family: 'Tilt Neon', cursive;
}

img{
    margin-right: 1vw;
}

.container{
    margin-left: 1vw;
    margin-right: 1vw;
}