/* .footer {
  display: flex;
  background-color: black;
  color: rgb(158, 167, 175);
  padding: 20px;
} */

/* .footer-names {
  display: flex;
  /* justify-content: center; */
  /* align-items: center;
  list-style: none;
  padding: 0; */


/* .footer-names li:not(:last-child) {
  margin-right: 50px;
} */

/* .ml-auto {
  margin-left: 50px;
} */


.container li{
  display: flex;
  justify-content: center; 
  align-items: center;
}


