@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.footer {
  display: flex;
  background-color: black;
  color: rgb(158, 167, 175);
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

.footer p{
  font-family: 'Tilt Neon', cursive;
  margin-bottom: 0;
}






